.cabecalho {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    box-shadow: 0 0 .5rem hsl(0, 0%, 52%);
}

.dark{
    background-color: var(--azul-extra-escuro);
    color: #fff;
}

.cabecalho__titulo {
    font-weight: 800;
}

.cabecalho__tema-interruptor {
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.cabecalho__tema-icone {
    background-image: url('/public/assets/imagens/moon-regular.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: .5rem;
    transform: rotate(-30deg);
}

@media screen and (min-width: 930px) {
    .cabecalho {
        padding: 2rem 5vw;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .cabecalho__tema-interruptor {
        font-size: 1rem;
    }

    .cabecalho__tema-icone {
        height: 20px;
        width: 20px;
    }
}