/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	--azul-escuro: #2b3945; /*Elementos do Dark-Mode*/
	--azul-extra-escuro: #202c37; /*Background do Dark-Mode*/
	--azul-extra-escuro-2: #111517; /*Cor do texto do Light-Mode*/
	--cinza-escuro: #858585; /*Cor do Input texto Light-Mode*/
	--cinza-claro: #fafafa; /*Background do Light-Mode*/
	--branco: #FFFFFF; /*Elementos do Light-Mode e texto do Dark-Mode*/
}

/* ### font-sizes:

- Homepage Items: 14px
- Detail Page: 16px  */


body {
	color: var(--azul-extra-escuro-2);
	background-color: var(--cinza-claro);
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
}

.listaPaises {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 930px) {
	.listaPaises{
		margin: 0 5vw;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
}